<?xml version="1.0" encoding="UTF-8"?>
<beans default-merge="true"  xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

<bean id="per" class="com.nt.beans.Persons">
</bean>

<bean id="visa" class="com.nt.beans.UKVisa" parent="per">
</bean>
</beans>

